{{!< layout}}

<section>
    <form method="get" action="/">
        <div class="buttons">
            <button type="submit" name="sort" value="dueDate">
                By Due Date
            </button>
            <button type="submit" name="sort" value="createdDate">
                By Creation Date
            </button>
            <button type="submit" name="sort" value="importance">
                By Importance
            </button>
            <button type="submit" name="switchToDescending" value="{{isAscending}}">
                {{#if isAscending}}Descending{{else}}Ascending{{/if}}
            </button>
            <button type="submit" name="switchToHideFinished"
                    value="{{showFinished}}">{{#if showFinished}}Hide{{else}}Show{{/if}} finished notes
            </button>
            <button type="submit" name="switchToLightTheme" value="{{isDarkTheme}}">Switch style</button>
        </div>

    </form>
    <a href="/create"> Create new Note</a>
</section>
<section>
    <header>
        <h2>Your Notes (Sorted by: {{sortedBy}}, {{#if isAscending}}Ascending{{else}}Descending{{/if}})</h2>
    </header>
    {{#if notes.length}}
        {{#each notes}}
            <form class="singleNoteContainer" method="get" action="/edit/{{_id}}">
                <span></span>

                <div>
                    <h3 class="noteTitle">Title: {{title}}</h3>
                    <button class="noteEditButton" type="submit">Edit Note</button>
                </div>

                <p>Description: {{description}}</p>

                <p>Priority:
                    {{#times importance}}
                        *
                    {{/times}}
                </p>

                <time datetime="{{formatDate dueDate}}">
                    Due Date: {{formatDate dueDate}}</time>

                <div>
                    <label><input type="checkbox" name="finished" value="finished"
                                  {{#if finished}}checked{{/if}} disabled>Finished</label>


                </div>
            </form>
        {{/each}}
    {{else}}
        <p> No notes found</p>
    {{/if}}

</section>
